.logo > img{
    margin: 20px 2cm 7px;
    width: 50px;
    border-radius: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    color: #333;
    line-height: 60px;
}

nav a:hover{
    color: #ff9800;
}

nav{
    border-right: 1px solid #d8d3d3;
    padding-right: 14px;
}

nav ul{
    list-style-type: none;
    font-size: 20px;
}

.search .material{
    font-size: large;
    margin-right: 15px;
}

input[type="search"]{
    width: 700px;
    height: 25px;
    border-radius: 4px;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}


#sidebar:hover::-webkit-scrollbar{
    display: block;
}

#sidebar:hover::-webkit-scrollbar-thumb{
    display: block;
}

#sidebar::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
    background-color: #eee;
    display: none;
}

hr{
    border: 1px thin #d8d3d3;
    margin: 40px 20px 40px 0px;
}

main {
    margin-left: 250px;
    padding-left: 20px;
    width: calc(100% - 275px);
    background-color: #fff;
    padding: 10px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#one{
    color: #a0dbfd;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card1 {
    background-color: #a0dbfd;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
}

.card2 {
    background-color: #f1bd4d;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
}

.card3 {
    background-color: #f58ef5;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

th{
    text-align: left;
    background-color: #f1bd4d;
    padding: 8px;
}

td{
    padding: 8px;
}

tr:nth-child(even){
    background-color: lightcyan;
}

tr:hover{
    background-color: rgb(219, 203, 203);
}